@import '~bootstrap/scss/bootstrap';
* {
  box-sizing: border-box;
}

html {
  background: #597d6d;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;
}

body {
  background-color: transparent;

  .container {
    width: 600px;

    .row {
      justify-content: center;

      div {
        width: 185px;
        height: 185px;

        @media (max-width: 768px) {
          width: 100px;
          height: 100px;
        }
      }
    }
  }

  .h1 {
    align-items: center;
  }

  .img {
    align-items: center;
  }
}

header {
  background-color: #000000;
  color: #FFFFFF;
  padding: 1rem;
  text-align: center;
  margin-bottom: 1.5rem;
}

main {
  display: grid;
  justify-content: center;
  padding-bottom: 2rem;

  section:nth-child(1) {
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
  }

  .card {
    background-color: transparent;
    margin-bottom: 1rem;
    min-width: 315px;

    &.sign-up-card {
      display: none;
    }

    form {
      &.border {
        border: none !important;
      }

      h3 {
        text-align: center;
      }

      div {
        display: flex;
        flex-direction: column;

        input {
          display: inline-block;
          border-radius: 5px;
          margin-bottom: 1rem;
        }
      }

    }
  }

  #back-to-sign-in {
    display: none;

    button {
      width: 250px;
    }
  }

  #pre-sign-up,
  #back-to-sign-in {
    text-align: center;
  }

  .nav {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 2.5rem;
  }

  .main {
    display: flex;
    flex-wrap: wrap;

    .container>#results {
      color: #FFFFFF;
      text-align: center;
      margin-bottom: 2.5rem;
      padding: 10px;
    }
  }

  .row {

    div:nth-child(2),
    div:nth-child(8) {
      border-left: 2px solid #FFFFFF;
      border-right: 2px solid #FFFFFF;
    }

    div:nth-child(5) {
      border: 2px solid #FFFFFF;
    }

    div:nth-child(4),
    div:nth-child(6) {
      border-top: 2px solid #FFFFFF;
      border-bottom: 2px solid #FFFFFF;
    }

    div.box {
      display: grid;
      justify-content: center;
      align-items: center;
      font-size: 6.5rem;
    }
  }
}

#after-sign-in {
  display: none;
}

.greyed-out {
  background-color: #000000;
  opacity: .40;
}

.gradient-text {
  background: -webkit-linear-gradient(#1a1a1a, #FFFFFF, #1a1a1a);
  //-webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
